# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
sgab-core/nbproject/private/config.properties
sgab-core/nbproject/private/private.properties
sgab-core/nbproject/private/private.xml
sgab-view-web/nbproject/private/private.xml
sgab-view-web/nbproject/private/private.properties
sgab-view-swing/nbproject/private/private.properties
