<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cadastro de Autores</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="cadastro-de-autores.css">
</head>
<body>
    <header>
        <div id="pagina-inicial">
            <a href=""title="Página Inicial">
                Biblioteca
            </a>
        </div>
        <div id="logo-topo">
            <a href="http://www.cefetmg.br/" target="_blank" title="Centro Federal de Educação Tecnológica de Minas Gerais">
                <img src="img-template/logo_topo.png" alt="Centro Federal de Educação Tecnológica de Minas Gerais">
            </a>
        </div>
    </header>
    <main>
        <section id="nome-form">
            <h1>Cadastro de Autores</h1>
        </section>
        <section id="form">
            <div id="caixa-form">
                <form action="" method="post">
                    <label for="id">Cadastre o Nome do Autor</label>
                    <input type="text" id="nome-autor" name="id-nome" placeholder="Nome">
                    <label for="id">Cadastre a Nacionalidade do Autor</label>
                    <input type="text" id="nacionalidade-autor" name="id-nacionalidade" placeholder="Nacionalidade">
                    <label for="id">Cadastre o Nascimento do Autor</label>
                    <input type="text" id="nascimento-autor" name="id-nascimento" placeholder="(dd/mm/aaaa)">
                    <label for="id">Cadastre o Gênero do Autor</label>
                    <input type="text" id="genero-autor" name="id-genero" placeholder="Gênero">
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div>
        <p>Biblioteca</p><br><p>Versão 1</p>
        </div>
    </footer>
</body>
</html>
