body{
    width: 960px;
    min-width: 360px;
    max-width: 100%;
    min-height: 100%;
    margin: auto;
    background-color: #F9F9F9;
    padding: 0;
    text-align: left;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

header{
    background-color: #004C84;
    height: 78px;
    border-bottom: solid 3px #bebebe;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#pagina-inicial a{
    text-decoration: none;
    cursor: pointer;
    color: #3c8dbc;
    position: absolute;
    top: 15px;
    font-size: 45px;
    padding: 0px 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#logo-topo{
    padding-right: 310px;
}

#logo-topo img{
    bottom: 0;
    max-height: 45px;
    padding: 0px 10px;
    position: absolute;
    top: 15px;

}

main{
    background-color: #ffffff;
}

#nome-form{
    position: relative;
    padding: 0;
    background-color: #E1E1E1;
}

#nome-form h1{
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-family: 'Patua One', 'Helvetica Neue', 'Arial', sans-serif;
    line-height: 1.1;
    color: #337ab7;
    font-weight: bold;
}

#form{   
    min-height: 250px;
    padding: 15px;
}

#caixa-form{
    position:relative;
    padding: 15px;
    width: 50%;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    height: 50%;
}
#caixa-dados{
    padding: 15px;
    width: 34%;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    height: 50%;
    position:fixed;
    visibility:hidden;
}

label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

input[type="text"]{   
    border-radius: 0;
    box-shadow: none;
    display: block;
    box-sizing: border-box;
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d6de;
}

input[type="password"]{   
    border-radius: 0;
    box-shadow: none;
    display: block;
    box-sizing: border-box;
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d6de;
}

input:focus-visible {
    outline: none !important;
    border: 1px solid #3c8dbc;
}

#input-radio label {
    display: block;
}

.radio-label {
    font-weight: 100;
}

::placeholder {
    color: #999999;
}

form div {
    margin-bottom: 15px;
}

#caixa-form-footer {
    margin: 0;
    height: 34px;
    width: 95%;
    padding: 10px 0px 10px 0px;
}

.button, button {
    background-color: #3c8dbc;
    border-color: #367fa9;
    border-radius: 3px;
    box-shadow: none;
    height: 34px;
    border: 1px solid transparent;
    font-size: 14px;
    padding: 6px 12px;
    float: left;
    color: #fff;
    margin-left: 3px;
}

footer{
    background-color: #004C84;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.3));
    border-top: solid 3px #bebebe;
    color: #FFFFFF;
    display: flex;
    font-size: 11px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 20px;
    vertical-align: middle;
}

footer p{
    margin: 5px;
}

@media (max-width: 600px) {
    header {
        display: block;
    }
    #pagina-inicial a {
        left: 0;
        right: 0;
        top: 0;
        text-align: center;
        font-size: 45px;
        padding: 0px 10px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    #logo-topo img{
        height: 20px;
        right: 25px;
        top: 55px;
        bottom: 0;
    }
    #caixa-form {
        width: 95%;
    }
    #caixa-dados {
        width: 95%;
    }
}